<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-6 rounded-xl shadow-md text-center space-y-4">
    <h1 class="text-2xl font-bold text-gray-800"></h1>

    <div class="text-4xl font-semibold text-blue-600">{{ count }}</div>

    <div class="flex justify-center space-x-4">
      <button
        (click)="increment()"
        class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg font-medium"
      >
        +
      </button>
      
      <button
        (click)="decrement()"
        class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg font-medium"
      >
        -
      </button>

      <button (click)="reset()" class="block bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg font-medium">Reset</button>
      <button (click)="clearHistory()" class="block bg-green-500 hover:bg-gray-500 text-black px-4 py-2 rounded-lg font-medium">Clear History</button>
    </div>
    <h3 class="text-xl mb-0">History</h3>
    <ul class="block">
      <li *ngFor="let list of history">{{list}}</li>
    </ul>
  </div>
</div>
